#canv {
	border : 2px solid black;
	background-color : #777799;
	
}
#backg {
	position : absolute; 
	background-color : #222222;
	top : 0px;
	left : 0px;
	height : 100%;
	width : 100%;
}

#body {
	position : absolute; 
	margin-left : 50%; 
	left : -250px;
}

#inputName {
	position : absolute;
	height : 100px;
	width : 200px;
	top : 50%;
	left : 50%;
	margin-left : -100px;
	text-align : center;
}

#debug {
	position : absolute;
	left : 10px;
	top : 10px;
}